<h2 class="warning"> Some Warning! </h2>
<h2 class="error"> Some Error! </h2>

<nav>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'eager'}}Eager{{/link-to}}
  {{#link-to 'lazy'}}Lazy{{/link-to}}
</nav>

{{outlet}}
